<div class="row">
  <div class="col-md-8">
    <h1><%= @post.title %></h1>
    <p><%= @post.created_at.strftime('%B %d, %Y') %> by <%= @post.author %></p>
    <p><%= raw @post.body %></p>

    <% if user_signed_in? && current_user == @post.user %>
      <hr>
      <%= link_to "Update Post", edit_post_path(@post) %> |
      <%= link_to 'Destroy Post', post_path(@post),
              method: :delete,
              data: { confirm: 'This is permanent. Are you sure?' } %>
    <% end %>

  </div>
</div>
